<div class="container">
    <div class="row">
        <div class="col">
            <h1>Lista de Tarefas</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Tarefa</label>
                            <input type="text" class="form-control" ngModel name="titulo" placeholder="Comprar frutas">

                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Descrição</label>
                            <input type="text" class="form-control" ngModel name="descricao" placeholder="Descrição">
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-primary">Adicionar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-inverse">
                <thead class="thead-inverse">
                    <tr>
                        <th>#</th>
                        <th>Tarefa</th>
                        <th>Descrição</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks; let i = index">
                        <td>{{ i }}</td>
                        <td>{{task[0]}}</td>
                        <td>{{task[1]}}</td>
                        <td>
                            <button type="button" (click)="remover(i)" class="btn btn-link"><img src="assets/img/round-delete-button.svg" alt=""></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>