<div class="container section-sobre">
    <div class="row">
      <div class="col-sm-3">
        <img src="http://lorempixel.com/400/400/abstract/" width="100%" class="img-responsive" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam vitae dignissimos laudantium? Tenetur, molestias consequatur consequuntur nulla officia corporis?</p>
        <button class="btn btn-primary" (click)="nav()" >Mais</button>
      </div>
      <div class="col-sm-3">
        <img src="http://lorempixel.com/400/400/food/" width="100%" class="img-responsive" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam vitae dignissimos laudantium? Tenetur, molestias consequatur consequuntur nulla officia corporis?</p>
        <button class="btn btn-primary" (click)="nav()" >Mais</button>
      </div>
      <div class="col-sm-3">
        <img src="http://lorempixel.com/400/400/nature/" width="100%" class="img-responsive" alt="">
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam vitae dignissimos laudantium? Tenetur, molestias consequatur consequuntur nulla officia corporis?</p>
        <button class="btn btn-primary" (click)="nav()" >Mais</button>
      </div>
      <div class="col-sm-3">
          <img src="http://lorempixel.com/400/400/sports/" width="100%" class="img-responsive" alt="">
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam magnam vitae dignissimos laudantium? Tenetur, molestias consequatur consequuntur nulla officia corporis?</p>
          <button class="btn btn-primary" (click)="nav()" >Mais</button>
        </div>       
    </div>
</div> 